<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--引入外部文件 -->
	<properties resource="db.properties" />
	<!--为实体类取别名 方便映射文件实体类的书写 -->
	<typeAliases>
		<typeAlias type="com.asu.entity.Student" alias="student" />
	</typeAliases>
	<!--配置mybatis多套运行环境 -->
	<environments default="development">
		<!--每一个environment代表的是一个连接对象 -->
		<environment id="development">
			<!--事务管理器 采用jdbc的事务提交 -->
			<transactionManager type="JDBC" />
			<!--数据源 mybatis 默认数据源是POOLED -->
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<!--映射器-告诉MyBatis去哪里找到sql映射文件 -->
	<mappers>
		<!--第1种方式-通过类资源路径获取 -->
		<mapper resource="com/asu/entity/StudentMapper.xml" />
		<!--第2种方式-通过Url获取资源 -->
		<!-- <mapper url="f:/pMapper.xml"/> -->
	</mappers>
</configuration>