<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asu.entity.StudentMapper">

	<!-- 查询单个学生 -->
	<select id="selectStuBySno" resultType="com.asu.entity.Student">
		select sname from student
		where sno = #{sno}
	</select>

</mapper>